#
# Application Configuration
#

#
# quectel example configuration
#
# CONFIG_ENABLE_QUECTEL_UART_DEMO is not set
CONFIG_ENABLE_QUECTEL_OSI_DEMO=y
CONFIG_ENABLE_QUECTEL_TIMER_DEMO=y
CONFIG_ENABLE_QUECTEL_GPIO_DEMO=y
CONFIG_ENABLE_QUECTEL_PWM_DEMO=y
CONFIG_ENABLE_QUECTEL_FLASH_DEMO=y
CONFIG_ENABLE_QUECTEL_BLE_CONFIG_NETWORK_DEMO=y
CONFIG_ENABLE_QUECTEL_WLAN_CONFIG_NETWORK_DEMO=y
# end of quectel example configuration
# end of Application Configuration

